.row.panel.secondary.group
  .eight.columns
    %h5
      Address
    %ul.plain
      - if session["user"]["address"].nil? and session["user"]["address2"].nil? and session["user"]["city"].nil? and session["user"]["state"].nil? and session["user"]["zip"].nil?
        = form_tag info_path(:step => 'address', :mode => 'review') do
          = submit_tag '+ Add', :class => 'small secondary button'
      - else
        - unless session["user"]["address"].blank?
          %li
            = session["user"]["address"]
        - unless session["user"]["address2"].blank?
          %li
            = session["user"]["address2"]
        - unless session["user"]["city"].blank? and session["user"]["state"].blank? and session["user"]["zip"].blank?
          %li
            #{session["user"]["city"]}, #{session["user"]["state"]} #{session["user"]["zip"]}
  .four.columns.align-right
    = form_tag info_path(:step => 'address', :mode => 'review') do
      = submit_tag 'Edit address', :class => 'small secondary button'