.row.panel.secondary.group
  .eight.columns
    %h5
      Contact Info  
    %ul.plain
      %li
        = session["user"]["email"]
      %li
        %span
          Home phone:
        = pretty_print_phone(session["user"]["phone_number"])
      %li
        %span
          Mobile phone:
        = pretty_print_phone(session["user"]["mobile_number"])
  .four.columns.align-right
    = form_tag info_path(:step => 'contact_info', :mode => 'review') do
      = submit_tag 'Edit contact information', :class => 'small secondary button'

