.row.panel.secondary.group
  .eight.columns
    %h5
      Name
    %ul.plain
      = session["user"]["title"]
      %li 
        = session["user"]["first_name"]
        = session["user"]["middle_name"]
        = session["user"]["last_name"]
        = session["user"]["suffix"]
  .four.columns.align-right
    = form_tag info_path(:step => 'name', :mode => 'review') do
      = submit_tag 'Edit name', :class => 'small secondary button'