.row
  .eight.columns
    = form_tag (@continue_path || info_path(:step => 'birthdate')) do
      %fieldset
        %legend
          Your primary address
          %span
            where you live most of the time
        %ol  
          %li
            = label_tag 'user[address]', "Street Address (first line)"
            = text_field_tag 'user[address]', session["user"]["address"]
          %li
            = label_tag "user[address2]", "Street Address (second line)"
            = text_field_tag "user[address2]", session["user"]["address2"], :style => 'margin-bottom: 3px;'
            %span
              (example: Apt. 914)
          %li
            = label_tag 'user[city]', "City or town"
            = text_field_tag 'user[city]', session["user"]["city"]
          %li
            = label_tag 'user[state]', 'State'
            = select_tag 'user[state]', options_for_select(us_state_options, session["user"]["state"]), :prompt => 'Select one...'
          %li
            = label_tag 'user[zip]', "Zip code"
            = text_field_tag 'user[zip]', session["user"]["zip"]
      %div.actions
        = submit_tag 'Continue', :class => 'large button'