= render :partial => 'header'
.row
  .twelve.columns
.row
  .eight.columns
    = form_tag (@continue_path || info_path(:step => 'review')) do
      %fieldset
        %legend
          What's the best way to reach you?
        %ol
          %li
            = label_tag "user[email]", "Email address"
            = text_field_tag "user[email]", session["user"]["email"]
          %li
            = label_tag "user[phone_number]", 'Home phone'
            = text_field_tag "user[phone_number]", pretty_print_phone(session["user"]["phone_number"])
          %li
            = label_tag "user[mobile_number]", 'Mobile phone'
            = text_field_tag "user[mobile_number]", pretty_print_phone(session["user"]["mobile_number"])
      %div.clear.actions
        = submit_tag 'Continue', :class => 'large button'
